/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i');

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/f80f1d/00000000000000003b9aefb8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),
         url(https://use.typekit.net/af/f80f1d/00000000000000003b9aefb8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),
         url(https://use.typekit.net/af/f80f1d/00000000000000003b9aefb8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/7f382d/00000000000000003b9aefbc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"),
         url(https://use.typekit.net/af/7f382d/00000000000000003b9aefbc/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"),
         url(https://use.typekit.net/af/7f382d/00000000000000003b9aefbc/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/0fcc66/00000000000000003b9aefbd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff2"),
         url(https://use.typekit.net/af/0fcc66/00000000000000003b9aefbd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff"),
         url(https://use.typekit.net/af/0fcc66/00000000000000003b9aefbd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/aae429/00000000000000003b9aefbe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff2"),
         url(https://use.typekit.net/af/aae429/00000000000000003b9aefbe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff"),
         url(https://use.typekit.net/af/aae429/00000000000000003b9aefbe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("opentype");
    font-weight: 500;
    font-style: normal;
}

/* Base styles */
b {
    font-weight: bold !important;
}

body.me {
    color: #121212;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    background: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
}

body, wrapper {
    min-height: 100vh;
}

/* Typography */
h1 {
    margin-top: 20px;
    font-family: proxima-nova, "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 18px;
    margin-top: 20px;
}

h3 {
    font-size: 16px;
}

/* Links */
body.me a {
    color: #57B;
}

body.me a:hover {
    color: #46A;
}

.tab-content a {
    border-bottom: 0.0625rem solid #dcdcdc;
    transition: border-color .15s ease-out;
}

.tab-content a:hover {
    text-decoration: none;
    border-bottom: 1px solid #46A;
}

.tab-content a.orangelink {
    color: #e05e00;
}

.tab-content a.orangelink:hover {
    color: #d04e00;
    border-bottom: 1px solid #d04e00;
}

/* Layout */
body.me .col-xl-8 {
    padding-left: 0;
    margin-left: 15px;
    border-left: 1px solid #dcdcdc;
}

body.me .container {
    padding-left: 15px;
    padding-right: 15px;
}

.container h1 {
    padding-bottom: 1rem;
}

.container .aboutme,
.container .researchinterests {
    padding-bottom: 1rem;
}

.flex-fill {
    flex: 1 1 auto;
}

/* Header */
.top-info {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-name {
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-name h1 {
    font-family: proxima-nova, "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    color: #333;
}

.personal-details {
    font-family: proxima-nova, "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: left;
    line-height: 1.2;
    padding-top: 1rem;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0px 15px;
}

.no-wrap {
    white-space: nowrap;
}

/* Navigation */
.me .navbar {
    font-family: proxima-nova, "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-style: none;
    font-size: 20px;
    margin-bottom: 2rem;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.nav-link {
    margin-right: 1rem;
    margin-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-item .nav-link.active {
    font-weight: 500;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: inherit !important;
}

/* Contact */
.contact-icon {
    display: inline-block;
    padding-right: 10px;
    text-align: center;
    width: 35px;
}

.contact-title {
    width: 150px;
    display: inline-block;
    padding-right: 10px;
    font-weight: 700;
}

/* News and Lists */
.news .newsentries li,
.researchgroup .researchquestions li,
.awards .awardslist li {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
}

/* Photo */
.macephoto {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: 80% 10px;
}

/* Thesis */
.thesis {
    padding-left: 10px;
    font-style: italic;
    font-size: 0.8rem;
}

/* Footer */
.myfooter {
    border-top: 1px solid #dcdcdc;
    padding-top: 0.5rem;
    margin-top: 1rem;
    font-size: 15px;
}

/* Publications */
.publications .paper {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 0.75rem;
    line-height: 1.3;
    text-align: left;
}

.publications .paper .col {
    margin-left: 90px;
    padding-left: 0;
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
}

.publications .paper.paper-with-image .paper-image {
    margin-left: 78px;
    padding-right: 10px;
}

.publications .paper.paper-with-image .col {
    margin-left: 0px;
    list-style-type: none;
}

.publications .paper .col > div {
    padding-bottom: 2px;
}

.publications .title {
    font-weight: 700;
    display: inline-block;
}

.publications .authors {
}

.publications .authors .jonathanmace {
}

.publications .venue {
    font-style: italic;
}

.publications .year {
}

.publications .links a {
    text-decoration: underline;
    font-weight: 500;
}

.publications .newyear {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    margin-bottom: -18px;
}

.publications .newyear.divider {
    border-top: 2px dotted #dcdcdc;
    margin-top: 10px;
    padding-top: 10px;
}

.publications .papernote {
    font-weight: 500;
}

.distributed-tracing-in-practice-cover {
    width: 60px;
}